<div class="grid-cause-area">
  <div class="container">
    <div class="section-name one">
      <h2>Seva Organization</h2>
      <div class="short-text">
        <h5>Our Seva Organization</h5>
      </div>
    </div>
    <br><br><br>
    <div class="row" id="seva_organization">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="cause content-box">
            <div class="img-wrapper">
              <div class="overlay">
              </div>
              <img class="img-responsive" src="" alt="">
            </div>
            <div class="info-block">
              <h4><a href="#"></a></h4>
              <p></p>
            </div>
          </div>
        </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $.ajax({
             type: 'GET',
             url: "{{ $.Site.Params.serverurl }}index.php/seva_list_open",
             data: '',
             dataType: "json",
             success: function(resultData){
               console.log(resultData);
               var AllSeva = ""
               for (var i = 0; i <= (resultData.length-1); i++) {
                 AllSeva += "<div class='col-md-4 col-sm-6 col-xs-12'>"+
                   "<div class='cause content-box'>"+
                     "<div class='img-wrapper'>"+
                       "<div class='overlay'>"+
                       "</div>"+
                       "<img class='img-responsive' src='{{ $.Site.Params.serverurl }}"+resultData[i].String_img+"' alt=''>"+
                     "</div>"+
                     "<div class='info-block'>"+
                       "<h4><a href='#'>"+resultData[i].org_name+"</a></h4>"+
                       "<p>"+resultData[i].sevadiscription+"</p>"+
                       "<p>Contact: "+resultData[i].owner_email+"</p><br>"+
                       "<a href='"+resultData[i].website+"' target='_blank' class='btn btn-min btn-secondary'><span>Visit Site</span></a>"
                       "<p></p>"+
                     "</div>"+
                   "</div>"+
                 "</div>";
               }
              //  console.log(resultData.length);
               $("#seva_organization").html(AllSeva);
             }
        });
      });
    </script>
    <!-- <div class="pagination-wrapper">
      <ul class="pagination">
        <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#" class="active">2</a></li>
        <li><a href="#">3</a></li>
        <li><span>...</span></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
      </ul>
    </div> -->
    </div>
  </div>
