<div class="grid-cause-area list-cause-area">
  <div class="container">
    <div class="row">
      <div class="cause content-box">
        <div class="col-md-5 col-sm-6">
          <div class="img-wrapper">
            <div class="overlay">
            </div>
            <img class="img-responsive" src="/img/causes/img-1.jpg" alt="">
          </div>
        </div>
        <div class="col-md-7 col-sm-6">
          <div class="info-block">
            <h4><a href="#">Stop Chilldern Abuse</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloribus modi reiciendis magnam soluta architecto officiis nisi cum ipsam, est optio dolorum nostrum porro. Nesciunt iusto consectetur explicabo minus odit magni sunt magnam enim est!</p>
            <div class="foundings">
              <div class="progress-bar-wrapper min">
                <div class="progress-bar-outer">
                  <p class="values"><span class="value one">Raised: $12500</span>-<span class="value two">To go: $45222</span></p>
                  <div class="progress-bar-inner">
                    <div class="progress-bar">
                      <span data-percent="55"><span class="pretng">55%</span> </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="donet_btn">
              <a href="causes-single.html" class="btn btn-min btn-solid"><i class="fa fa-archive"></i><span>Donate Now</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="cause content-box">
        <div class="col-md-5 col-sm-6">
          <div class="img-wrapper">
            <div class="overlay">
            </div>
            <img class="img-responsive" src="/img/causes/img-3.jpg" alt="">
          </div>
        </div>
        <div class="col-md-7 col-sm-6">
          <div class="info-block">
            <h4><a href="#">Stop Chilldern Abuse</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloribus modi reiciendis magnam soluta architecto officiis nisi cum ipsam, est optio dolorum nostrum porro. Nesciunt iusto consectetur explicabo minus odit magni sunt magnam enim est!</p>
            <div class="foundings">
              <div class="progress-bar-wrapper min">
                <div class="progress-bar-outer">
                  <p class="values"><span class="value one">Raised: $12500</span>-<span class="value two">To go: $45222</span></p>
                  <div class="progress-bar-inner">
                    <div class="progress-bar">
                      <span data-percent="85"><span class="pretng">85%</span> </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="donet_btn">
              <a href="causes-single.html" class="btn btn-min btn-solid"><i class="fa fa-archive"></i><span>Donate Now</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="cause content-box">
        <div class="col-md-5 col-sm-6">
          <div class="img-wrapper">
            <div class="overlay">
            </div>
            <img class="img-responsive" src="/img/causes/img-2.jpg" alt="">
          </div>
        </div>
        <div class="col-md-7 col-sm-6">
          <div class="info-block">
            <h4><a href="#">Stop Chilldern Abuse</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloribus modi reiciendis magnam soluta architecto officiis nisi cum ipsam, est optio dolorum nostrum porro. Nesciunt iusto consectetur explicabo minus odit magni sunt magnam enim est!</p>
            <div class="foundings">
              <div class="progress-bar-wrapper min">
                <div class="progress-bar-outer">
                  <p class="values"><span class="value one">Raised: $12500</span>-<span class="value two">To go: $45222</span></p>
                  <div class="progress-bar-inner">
                    <div class="progress-bar">
                      <span data-percent="55"><span class="pretng">55%</span> </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="donet_btn">
              <a href="causes-single.html" class="btn btn-min btn-solid"><i class="fa fa-archive"></i><span>Donate Now</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="cause content-box">
        <div class="col-md-5 col-sm-6">
          <div class="img-wrapper">
            <div class="overlay">
            </div>
            <img class="img-responsive" src="/img/causes/img-1.jpg" alt="">
          </div>
        </div>
        <div class="col-md-7 col-sm-6">
          <div class="info-block">
            <h4><a href="#">Nesciunt iusto consectetur</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloribus modi reiciendis magnam soluta architecto officiis nisi cum ipsam, est optio dolorum nostrum porro. Nesciunt iusto consectetur explicabo minus odit magni sunt magnam enim est!</p>
            <div class="foundings">
              <div class="progress-bar-wrapper min">
                <div class="progress-bar-outer">
                  <p class="values"><span class="value one">Raised: $12500</span>-<span class="value two">To go: $45222</span></p>
                  <div class="progress-bar-inner">
                    <div class="progress-bar">
                      <span data-percent="45"><span class="pretng">45%</span> </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="donet_btn">
              <a href="causes-single.html" class="btn btn-min btn-solid"><i class="fa fa-archive"></i><span>Donate Now</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="pagination-wrapper">
      <ul class="pagination">
        <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#" class="active">2</a></li>
        <li><a href="#">3</a></li>
        <li><span>...</span></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
      </ul>
    </div> -->
    </div>
  </div>
